In [1]:
import os
import numpy as np
import scanpy as sc
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

In [2]:
data_path = "data/"
check_path = "checkpoints/"
table_path = "tables/"

# os.makedirs(check_path)

os.chdir("../")
print(os.getcwd())

/Users/flynnzhang/CMU/Spring24/02620-ML4Scientists/scRNA-seq_ML

In [3]:
# load anndata
adata = sc.read(check_path + "combined_labeled.h5ad")

adata

AnnData object with n_obs × n_vars = 23873 × 19724
    obs: 'Sample', 'Title', 'Marker', 'n_genes', 'n_genes_by_counts', 'log1p_n_genes_by_counts', 'total_counts', 'log1p_total_counts', 'pct_counts_in_top_20_genes', 'pct_counts_mt', 'pct_counts_ribo', 'pct_counts_hb', 'batch', 'kmeans_clusters', 'cell_types'
    var: 'n_cells'
    uns: 'log1p'
    layers: 'counts'

In [6]:
# load mutation genes of patient with bladder cancer, only keep columns with gene names
mut_genes = pd.read_csv(data_path + "mut_genes/Mutated_Genes.txt", sep="\t")

mut_genes['Freq'] = mut_genes['Freq'].str.rstrip('%').astype(float)

# convert percentage to fraction
mut_genes['Freq'] = mut_genes['Freq'] / 100

mut_genes['Gene'] = mut_genes['Gene'].str.capitalize()
mut_genes = mut_genes.sort_values(by='Freq', ascending=False)
mut_genes = mut_genes[['Gene', 'Freq']]


mut_genes

         Gene   Freq
12569    Tp53  0.517
9038      Ttn  0.327
4244    Kmt2d  0.293
10277  Arid1a  0.268
15171   Kdm6a  0.262
...       ...    ...
13563  Commd2  0.002
8771     Galt  0.002
13566  Commd7  0.002
8764    Or1f1  0.002
4456     Uba1  0.002

[16392 rows x 2 columns]

In [7]:
# write to csv
mut_genes.to_csv(data_path + "mut_genes/blad_cancer_genes.csv", index=False)

In [8]:
# see if they are present in the data
adata.var_names.isin(mut_genes['Gene']).sum()

12463

In [ ]:
# see the expression of the genes
# sc.pl.umap(adata, color=mut_genes['Gene'], ncols=3, cmap='viridis', use_raw=False)